/*
 * Requete SQL
 */

table.map-query td { 
  padding-top: 2px;
  padding-bottom: 2px;
}

table.map-query tr.buttons td { 
 padding-top: 15px;
}

tr.title_caracterisation td { 
  padding-top: 15px;
  padding-left: 5px;
  font-weight: bold;
}

tr.title_exceptionnels td { 
  padding-left: 5px;
  padding-bottom: 5px;
}

td.exceptionnel div {
 width: 28px;
 height: 25px;
 text-align: center;
 background-color: #f5f5f5;
 border: solid 1px #cccccc;
 border-right: none;
 border-radius: 3px 0px 0px 3px;
 vertical-align: middle;
}

table.map-query td.validations button {
 width: 110px;
 font-weight: bold;
 font-size: 14px;
 border-radius: 5px 5px 5px 5px;
}

table.map-query td.validations .btn-display-map {
 float: left;
}

table.map-query td.validations .btn-display-sheet {
 float: right;
}

table.map-query .btn-reinit {
 width: 100%;
}

.pmmenu-item {
 position: relative;
 width: 210px;
 min-height: 25px;
 border: solid 1px #cccccc;
 border-top: 0;
 font-size: 14px;
 padding-left: 32px;
 cursor: pointer;
 background-color: #f5f5f5;
}

.menu_period .pmmenu-item {
}

.menu_production .pmmenu-item, .menu_production .pmmenu-title, .menu_production .pmmenu-tools {
 width: 180px;
}

.menu_realestate .pmmenu-item, .menu_realestate .pmmenu-title, .menu_realestate .pmmenu-tools {
 width: 180px;
}

.menu_furniture .pmmenu-item, .menu_furniture .pmmenu-title, .menu_furniture .pmmenu-tools {
 width: 180px;
}

.pmmenu-item:hover {
 background-color: #0069d6;
 color: #fff;
 font-weight: bold;
}

.pmmenu-sub {
 position: absolute;
 right: 0;
 top: 4px;
 width: 14px;
 height: 14px;
}

.pmmenu-title { 
 position: relative;
 width: 210px;
 min-height: 25px;
 border: solid 1px #cccccc;
 border-bottom: 0;
 font-weight: bold;
 font-size: 14px;
 padding-left: 32px;
 background-color: #eee;
}

.pmmenu-root { 
 border: solid 1px #cccccc;
 border-radius: 0px 3px 3px 0px;
}

.pmmenu-tools { 
 width: 210px;
 height: 25px;
 border: solid 1px #cccccc;
 font-size: 14px;
 padding-left: 32px;
 background-color: #fff;
}

.pmmenu-tools button {
 border: 0;
 margin: 0;
 margin: 0px 5px 0px 5px;
 font-size: 9px;
 font-weight: bold;
 background-color: #000;
 color: #fff;
 border-radius: 2px 2px 2px 2px;
}

.pmmenu-tools button.select-all {
 background-color: #0069d6;
}

.pmmenu-tools button.select-none {
 background-color: #666666;
}

.pmmenu-title-sub { 
 position: absolute;
 right: 0;
 top: 4px;
 width: 14px;
 height: 14px;
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -313px -119px;
}

.pmmenu-sel {
 position: absolute;
 left: 3px;
 top: 5px;
 width: 14px;
 height: 14px;
}

.pmmenu-sel-plus {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -408px -96px;
}

.pmmenu-sel-minus {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -433px -96px;
}

.pmmenu-sel-mixed {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -456px -96px;
}

.pmmenu-item-plus {
 background-color: #0069d6;
 color: #fff;
 font-weight: bold;
}

.pmmenu-item-minus {
 background-color: #0069d6;
 color: #fff;
 font-weight: bold;
}

.pmmenu-item-mixed {
 background-color: #0069d6;
 color: #fff;
 font-weight: bold;
}

.pmmenu-havesubmenu {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -456px -72px;
 background-repeat: no-repeat;
}

.pmmenu-popup {
 position: absolute;
 z-index: 2000;
 top: 0;
 left: 225px;
 padding: 5px;
 background-color: white;
}

#menu_period .pmmenu-popup { 
 left: 255px;
}

/***/
