.pmmenu-item {
 position: relative;
 width: 200px;
 min-height: 25px;
 border: solid 1px gray;
 border-top: 0;
 font-size: 14px;
 padding-left: 32px;
 cursor: pointer;
 background-color: #f7f7f7;
}

.pmmenu-item:hover {
 background-color: #44f;
}

.pmmenu-sub {
 position: absolute;
 right: 0;
 top: 0;
 width: 14px;
 height: 14px;
}

.pmmenu-title { 
 width: 200px;
 min-height: 25px;
 border: solid 1px gray;
 font-weight: bold;
 font-size: 14px;
 padding-left: 32px;
 background-color: #eee;
}

.pmmenu-tools { 
 width: 200px;
 height: 25px;
 border: solid 1px gray;
 font-size: 14px;
 padding-left: 32px;
 background-color: #fff;
}

.pmmenu-tools button {
 border: 0;
 margin: 0;
 margin: 0px 5px 0px 5px;
 font-size: 9px;
 font-weight: bold;
 background-color: #000;
 color: #fff;
}

.pmmenu-tools button.select-all {
 background-color: #44f;
}

.pmmenu-tools button.select-none {
 background-color: #333;
}

.pmmenu-title-sub { 
 position: absolute;
 right: 0;
 top: 0;
 width: 14px;
 height: 14px;
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -313px -119px;
}

.pmmenu-sel {
 position: absolute;
 left: 0;
 top: 0;
 width: 14px;
 height: 14px;
}

.pmmenu-plus {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -408px -96px;
}

.pmmenu-minus {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -433px -96px;
}

.pmmenu-mixed {
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -456px -96px;
}

.pmmenu-havesubmenu { 
 background-image: url("/mod/cssjs/twitter-bootstrap/img/glyphicons-halflings.png");
 background-position: -456px -72px;
 background-repeat: no-repeat;
}

.pmmenu-popup {
 position: absolute;
 z-index: 2000;
 top: 0;
 left: 250px;
}

