#container {
	width: 1200px;
	margin: 0 auto;
}
.right {
	float: right;
}
#public div ul.nav {
	background: transparent none;
	border-top: none;	
	border-left: none;
	-moz-box-shadow: inset -3px -3px 3px #CCC;
	-webkit-box-shadow: inset -3px -3px 3px #CCC;
	box-shadow: inset -3px -3px 3px #CCC;
}
#public div .nav li {
	margin-top: 1em;
}
#public div .nav li a {
	line-height: 2em;
	text-align: left;
}

#public div .nav li a i {
	display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: text-top;
	background-image: url("/mod/cssjs/ext/twitter-bootstrap/img/glyphicons-halflings-white.png");
	background-position: -456px -72px;
	background-repeat: no-repeat;
}
#public .right {
	display: block;
	overflow:hidden;
	overflow-x: hidden;
	overflow-y: auto;
	overflow : -moz-scrollbars-vertical;
	width:  69em;
	height: auto;
	margin-bottom: 2em;
	
}
#slider-component .row {
	margin: 0;
	height: 20em;
	background: transparent none;
}
#slider-component .row h2 {
	background: #5BB75B;
	width: 10em;
	font-size: 1.1em;
	line-height: 2em;
	color: #FFF;
	padding-left: 1em;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -ms-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(top, #62c462, #51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	border-color: #51A351 #51A351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
